<div class="my-container">
  <div class="header-choice-of-concentration-container">
    <div class="header-choice-of-concentration">
      <div
        class="concentration-item-container"
        *ngFor="let item of choicesOfKris; let i = index"
      >
        <div
          class="choice-item"
          [ngClass]="{ 'my-active': i == selectedChoiceIndex }"
          (click)="krisChoiceChanged(item)"
        >
          {{ item }}
        </div>
        <div
          class="header-item-divider"
          *ngIf="i != choicesOfKris.length - 1"
        ></div>
      </div>
    </div>
  </div>
  <div class="date-and-id-container">
    <div class="my-date-container">
      <label class="my-label" for="date-arrete">Date arreté</label>
      <input
        type="date"
        id="date-arrete"
        class="my-input"
        [(ngModel)]="date"
        (change)="dateChanged()"
      />
    </div>
  </div>
  <app-concentration-table-row></app-concentration-table-row>
  <!-- <router-outlet></router-outlet> -->
  <div class="my-comment-container">
    <label class="my-label" for="">Commentaire</label>
    <textarea
      class="comment-textarea"
      name=""
      id=""
      cols="30"
      rows="5"
    ></textarea>
  </div>
</div>
