<!-- <style>
  .card .card-header {
    background: var(--theme-color) !important;
  }
</style> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="navbar navbar-expand-lg navbar-light bg-primary">
        <h4 class="nav-item">Importer un fichier excel</h4>
      </div>

     

      <div class="card-body">
        <div class="container">
          <mat-radio-group aria-label="Selectionner le type de données sources" [(ngModel)]="selectedOption">
            <mat-radio-button value="1">Risque crédit</mat-radio-button>
            <mat-radio-button value="2">Position de change</mat-radio-button>
          </mat-radio-group>
          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
          />

          <div class="file-upload">
            {{ fileName || "Pas de fichier selectionné." }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
              text="Importer fichier excel"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <!-- Progress Bar -->
          <!-- <div class="progress form-group" *ngIf="progress > 0">
            <div
              class="progress-bar progress-bar-striped bg-primary"
              role="progressbar"
              [style.width.%]="progress"
            ></div>
          </div> -->

          
          
        </div>
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

        <div >

          <label >{{ textChargement }}</label>
    
        </div>
       
      
      </div>
      
    </div>
    
  </div>
</div>
