<!-- <style>
  .card .card-header {
    background: var(--theme-color) !important;
  }
</style> -->

<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Importer un fichier excel</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <input
            type="file"
            class="file-input"
            (change)="onFileSelected($event)"
            #fileUpload
          />

          <div class="file-upload">
            {{ fileName || "Pas de fichier selectionné." }}

            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()"
              text="Importer fichier excel"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <!-- Progress Bar -->
          <div class="progress form-group" *ngIf="progress > 0">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              [style.width.%]="progress"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
