<table class="center" >
                            
    <caption  class="cap text-left caption-top"><div class="card-header card-header-danger"><h4>{{variation}}</h4> </div></caption>
      
          <thead  >
 
         <th  colspan="3" >Données input</th>
         <th colspan="3" >Données output</th>
        </thead >
          <thead class="thead_2">
     
          <th *ngFor="let elm of header" >{{elm}}</th>
        
        </thead >
             <tbody >

                <tr *ngFor="let item of data" >
                    <td class="tbody__td">{{item.codeI}}</td>
                    <td class="tbody__td">{{item.DescriptionI}}</td>
                    <td class="tbody__td"><input type="number" id="formControlLg" /></td>
                    <td class="tbody__td" >{{item.codeO}}</td>
                    <td class="tbody__td">{{item.DescriptionO}}</td>
                    <td class="tbody__td">{{item.MontantO}}</td>
                  </tr>
                 
             </tbody>

          </table>
          <div class="justified">
       
            <textarea >Commentaire Analyste : </textarea>
        </div>



