.yz_container {
  padding: 1.25rem;
  width: 100%;
  height: 100%;
}
table {
  border-collapse: collapse;
  overflow-x: scroll;
  border: 1px solid rgb(155, 154, 154);
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}


table thead th,
.tbody__td--label,
.tbody__td
 {
  border: 1px solid rgb(83, 82, 82);
}
thead {
  background-color: rgba(7, 194, 194, 0.76);
}


.thead_2 {
  background-color: rgba(241, 147, 31, 0.912);
}

thead th {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  text-align: center;
}

.tbody__td {
  font-size: 13px;
  height: 10px;
  text-align: center;
}


.tbody__td__tr {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(165, 165, 165);
  font-weight: 600;
  font-size: 10px;
 
}


textarea {
  width: 60%;
  height: 300px;
  padding: 5px;
  margin:11px;
  box-sizing: border-box;
  border: 2px solid rgba(153, 199, 237, 0.995);
  border-radius: 4px;
  background-color: #fcffff;
  font-size: 13px;
  resize: none;
}

div.justified {
  display: flex;
  justify-content: center;
}
h4{

  margin: 0;
  padding: 0;
}