<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center py-5" >
            <div class="col-md-6 align-content-center ">
                <div class="card bg-light">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Confirm Your Password</h4>
                    </div>
                    <div class="card-body bg-light"   >
                    
                        <div class="container">
                            <div class="row">
                         
                                
                                <div class="w-100 center card " >
                                    <form [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit()" >
                                          <div class="form-group">
                                        <label for="name"> Password </label>
                                        <div class="input-group">

                                          <input
                                          type="password"
                                          class="form-control"
                                          formControlName="password"
                                          name="password"
                                          id="password"
                                          ngModel password
                                          /><i class="fa fa-eye mt-2 " id="visibilityPassword" ></i>
                                        </div>
                                        <p
                                        class="text-danger"
                                        *ngIf="(ResetPasswordForm.controls.password.touched || submitted) && ResetPasswordForm.controls.password.errors?.required"
                                      >
                                        Champs obligatoire
                                      </p>
                                      </div>


                                          <div class="form-group">
                                        <label for="name"> Confirmation Password </label>

                                        <div class="input-group"> 

                                        <input
                                          type="password"
                                          class="form-control"
                                          formControlName="confirmPassword"
                                          name="confirmPassword"
                                          id="Confirmpassword"
                                        ngModel
                                        /><i class="fa fa-eye mt-2 " id="visibilityConfirmPassword" ></i>
                                      </div>
                                      <p
                                      class="text-danger"
                                      *ngIf="(ResetPasswordForm.controls.confirmPassword.touched || submitted) && ResetPasswordForm.controls.confirmPassword.errors?.required"
                                    > 
                                    Champs obligatoire
                                  </p>
                                  </div>


                                      <button type="success" class="btn btn-success" >
                                        confirmer
                                      </button>
                                    </form>
                                  </div>
                        
                                </div>
                            </div>
                        </div> 
                 
                    </div>
                </div>
            </div>

          