<div class="row">
    <div class="theed__th--indicateur">Période : {{ selectedDate | date: 'dd/MM/yyyy'}}</div>
    <table class="table">
        <thead>
            <th class="theed__th--indicateur">ELEMENTS DE CALCUL</th>
            <th class="theed__th--indicateur">{{selectedDate | date: 'dd/MM/yyyy'}}</th>

        </thead>
        <tbody>

            <tr *ngFor="let element of data">
                <td class="tbody__td--label">{{ element.label }}</td>
                <td class="tbody__td--limit ">
                    <div class="yz_green " *ngIf="element.value  < indicateur1.valeurMinimum">
                        {{ element.value | number:'1.1-2' }}%
                    </div>
                    <div class="yz_yellow "
                        *ngIf="element.value  >= indicateur1.valeurMinimum && element.value <= indicateur1.valeurLimite">
                        {{ element.value | number:'1.1-2' }}%
                    </div>
                    <div class="yz_red " *ngIf="element.value > indicateur1.valeurLimite">
                        {{ element.value | number:'1.1-2' }}%
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
