
 <div class="container">
  <div class="row">
    <div class="col-lg-12">

    <button class="btn btn-success pull-right" (click)="portefeuilinDirectTable()"> Tableau </button>
    </div>
  

  </div>

  <div class="row">

<div class="portefeuilIndirect">
  <div class="portefeuilIndirect_row">
    <!-- les engagement indirects (Hors bilan) en milliard de DZD -->
    <app-engagements></app-engagements>
    <app-evolution></app-evolution>
  </div>
  <div class="portefeuilnDirect_row_comment">
    <div class="portefeuilInDirect_row_comment_title">Comment Analyste :</div>
    <div class="portefeuilInDirect_row_comment_content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore dicta,
      voluptas labore perferendis voluptate voluptates, repellendus expedita,
      ipsa iste dignissimos quos laboriosam? Magni accusamus beatae hic, itaque
      laborum rem enim.
    </div>
  </div>
</div>

</div>


