<div class="form-div" (clickOutside)="closeList()">
  <div class="input-list-container">
    <input
      class="form-input-list"
      type="text"
      [placeholder]="title"
      name="feild"
      autocomplete="off"
      (click)="toggleList()"
      [(ngModel)]="inputValue"
      (keyup)="filtering(inputValue)"
    />
    <mat-icon (click)="toggleList()" class="my-arrow-down-icon"
      >keyboard_arrow_down</mat-icon
    >
  </div>

  <span class="span-error" *ngIf="hasError">Veuillez choisir un champ</span>
  <div class="clause-list-content" #clauseList *ngIf="isListOpen">
    <div class="caluse-item" *ngFor="let item of listToDisplay">
      <mat-checkbox
        (change)="checkChanged($event, item)"
        class="example-margin"
        [checked]="isItemChecked(item)"
      ></mat-checkbox>
      <span class="item_name">{{ item | date : "dd/MM/yyyy" }}</span>
    </div>
  </div>
</div>
