<div class="form-floating mt-5 textarea-container">
    <textarea
      class="form-control"
      placeholder="Commentaire Analyste"
      id="floatingTextarea2"
      style="
        padding: 30px;
        background-color: #f9f9f9;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);"></textarea>
    <label class="text-bold text-dark" for="floatingTextarea2 "
      >Commentaire Analyste</label >
    <button class="comment-submit btn btn-default pull-right">
      Envoyer
    </button>
  </div>