<div class="myContainer">
  <div (clickOutside)="outsideClick()">
    <input
      type="text"
      placeholder="Sélectionner un type"
      #domaineInput
      class="list_input"
      value="{{ inputValue }}"
      (keyup)="inputKeyup(domaineInput.value)"
      (click)="toggleListDomaine()"
    />
    <div class="list_content" #domaineList *ngIf="isListTypesOpen">
      <div class="list_item" *ngFor="let item of typeListToDisplay" #itemDiv>
        <span class="item_name" #itemText>{{ item }}</span>
        <mat-checkbox
          #itemCheckbox
          color="primary"
          (change)="checkboxChange($event, item)"
          [checked]="checked(item)"
        ></mat-checkbox>
      </div>
    </div>
  </div>

  <div (click)="openAddDomaineDialog()" class="addDiv">+</div>
</div>
