<div class="my-container">
  <div class="header-choice-of-concentration-container">
    <div class="header-choice-of-concentration">
      <div
        class="concentration-item-container"
        *ngFor="let item of choicesOfConcentration; let i = index"
      >
        <div
          class="choice-item"
          [ngClass]="{ 'my-active': i == selectedChoiceIndex }"
          (click)="changeConcentrationChoice(item)"
        >
          {{ item }}
        </div>
        <div
          class="header-item-divider"
          *ngIf="i != choicesOfConcentration.length - 1"
        ></div>
      </div>
    </div>
  </div>
  <div class="my-body">
    <div class="date-and-id-container">
      <div class="my-date-container">
        <label class="my-label" for="date-arrete">Date arreté</label>
        <input type="date" id="date-arrete" class="my-input" />
      </div>
      <div class="id-client-or-group-container">
        <label class="my-label" for="id-client-or-group">{{
          inputListTitle
        }}</label>
        <app-my-input-list
          [list]="clientsIds"
          [callbackFunction]="idClientClicked"
          [hasError]="myListInputHasError"
          [title]="inputListTitle"
        ></app-my-input-list>
      </div>
    </div>

    <div class="fonds-reglementaire-container">
      <div class="fond-container">
        <label class="my-label" for="fonds">Fond propres réglementaires</label>
        <input type="text" id="fonds" class="my-input" />
      </div>
    </div>

    <div class="my-table-container">
      <table class="my-table">
        <tr class="my-table-row">
          <th class="my-table-head" *ngFor="let item of header">
            {{ item }}
          </th>
        </tr>
        <tr *ngIf="data; else selectionnerClientEtDate">
          <td *ngFor="let item of header" (click)="tauxClicked(item)">
            <span
              [ngClass]="{ 'taux-span': item == 'Taux de concentration' }"
              >{{ data[item] }}</span
            >
          </td>
        </tr>
        <ng-template #selectionnerClientEtDate>
          <tr>
            <td
              [attr.colspan]="header.length"
              class="selec-client-and-date-text"
            >
              Veuillez selectionner une date et un client
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
