<div class="container-fluid">
    <div class="row">
        <div class="theed__th--indicateur">Période : {{ selectedDate }}</div>
        <table class="table">
            <thead>
                <th class="theed__th--indicateur">ELEMENTS DE CALCUL</th>
                <th class="theed__th--indicateur">{{selectedDate}}</th>
               
            </thead>
            <tbody>
                
                <tr *ngFor="let element of data">
                    <td class="tbody__td--label">{{ element.label }}</td>
                    <td class="tbody__td ">
                <tr class="yz_green " *ngIf="element.value  < 100">
                    {{ element.value | number:'1.1-2' }}%
                </tr>
                <tr class="yz_yellow "
                    *ngIf="element.value  >= 100 && element.value <= 110">
                    {{ element.value | number:'1.1-2' }}%
                </tr>
                <tr class="yz_red " *ngIf="element.value > 110">
                    {{ element.value | number:'1.1-2' }}%
                </tr>

                </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <app-commentaire-editor></app-commentaire-editor>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

