<div class="container-fluid"> 
            <div class="yz_container">
                <div class="row">
                    <div class="col-md-2">
            
                        <mat-form-field appearance="fill">
                            <mat-label>Selectionner une date</mat-label>
                            <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker1" />
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            
            </div>
 <app-ratio-liquidite-trimestriel-ratio [selectedDate]="selectedDate"></app-ratio-liquidite-trimestriel-ratio>
 <app-ratio-liquidite-trimestriel-commentaire></app-ratio-liquidite-trimestriel-commentaire>
</div>

