<style>
    #staticBackdrop {
      background: rgba(0, 0, 0, 0.49) !important;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
      backdrop-filter: blur(8.2px) !important;
      -webkit-backdrop-filter: blur(8.2px) !important;
    }
  </style>
  
  
  <div
    class="modal fade update-agence-modal"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  
  >
    <div class="modal-dialog" >
      <div class="modal-content"  >
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modifier une agence </h5>
          <button
            type="button"
            class="btn-close closeModal" data-bs-dismiss="modal" aria-label="Close"     (click)="onCloseModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form  name="update-agence-data"  [formGroup]="updateAgenceForm" >
            <div class="form-group">
            <input
            type="text"
            class="form-control"
            formArrayName="id"
            [hidden]="true"
          />
        </div>
            <div class="form-group">
              <label for="agenceName"> Nom de  l'agence </label>
              <input type="text" class="form-control" formControlName="agenceName" name="agenceName"  value="{{agence?.agenceName}}" [ngModel]="agence?.agenceName"/>
            </div>
  
            <div class="form-group">
              <label for="description"> Déscription </label>
              <input type="text" class="form-control" formControlName="description" name="description" value="{{agence?.description}}"  [ngModel]="agence?.description"/>
            </div>
            
          </form>
  
        </div>
        <div class="modal-footer">
          <button
          (click)="onCloseModal()"
          type="button"
            type="button"
            class="btn btn-secondary closeModal"
            data-bs-dismiss="modal"
         
                  >
            Fermer
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="save()">
            Enregistrer
          </button>
      </div>
      </div>
    </div>
  </div>