<div class="yz_container">
    <div class="row">
        <div class="col-md-2">

            <mat-form-field appearance="fill">
                <mat-label>Selectionner une date</mat-label>
                <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker1" (ngModelChange)="addEvent('change', $event)"/>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
                <th class="theed__th--indicateur">Indice</th>
                <th class="theed__th--indicateur">{{ decembrePrecedent }}</th>
                <th class="theed__th--indicateur">{{ premierMoisDuTrimestre }}</th>
                <th class="theed__th--indicateur">{{ deuxiemeMoisDuTrimestre }}</th>
                <th class="theed__th--indicateur">{{ dateTransforme }}</th>
                
                <th *ngFor="let h of header">{{ h }}</th>
            </thead>
            <tbody>
                <tr *ngFor="let element of data | async">
                    <td class="tbody__td--label">{{ element[0] }}</td>
                    <td class="tbody__td--limit">
                        <div class="yz_green" *ngIf=" ConvertStringToNumber(element[1]) < ConvertStringToNumber(element[5])">
                            {{ element[1] | number:'0.1-2' }}
                        </div>
                        <div class="yz_yellow" *ngIf=" ConvertStringToNumber(element[1]) >= ConvertStringToNumber(element[5]) && ConvertStringToNumber(element[1])<= ConvertStringToNumber(element[6])">
                            {{ element[1] | number:'0.1-2' }}
                        </div>

                        <div class="yz_red"
                            *ngIf=" ConvertStringToNumber(element[1]) > ConvertStringToNumber(element[6]) ">
                            {{ element[1] | number:'0.1-2' }}
                        </div> 
                    </td>

                    <td class="tbody__td--limit">
                        <div class="yz_green" *ngIf=" ConvertStringToNumber(element[2]) < ConvertStringToNumber(element[5])">
                            {{ element[2] | number:'0.1-2' }}
                        </div>
                        <div class="yz_yellow"
                            *ngIf=" ConvertStringToNumber(element[2]) >= ConvertStringToNumber(element[5]) && ConvertStringToNumber(element[2])<= ConvertStringToNumber(element[6])">
                            {{ element[2] | number:'0.1-2' }}
                        </div>
                    
                        <div class="yz_red" *ngIf=" ConvertStringToNumber(element[2]) > ConvertStringToNumber(element[6]) ">
                            {{ element[2] | number:'0.1-2' }}
                        </div>
                    </td>

                    <td class="tbody__td--limit">
                        <div class="yz_green" *ngIf=" ConvertStringToNumber(element[3]) < ConvertStringToNumber(element[5])">
                            {{ element[3] | number:'0.1-2' }}
                        </div>
                        <div class="yz_yellow"
                            *ngIf=" ConvertStringToNumber(element[3]) >= ConvertStringToNumber(element[5]) && ConvertStringToNumber(element[3])<= ConvertStringToNumber(element[6])">
                            {{ element[3] | number:'0.1-2' }}
                        </div>
                    
                        <div class="yz_red" *ngIf=" ConvertStringToNumber(element[3]) > ConvertStringToNumber(element[6]) ">
                            {{ element[3] | number:'0.1-2' }}
                        </div>
                    </td>

                    <td class="tbody__td--limit">
                        <div class="yz_green" *ngIf=" ConvertStringToNumber(element[4]) < ConvertStringToNumber(element[5])">
                            {{ element[4] | number:'0.1-2' }}
                        </div>
                        <div class="yz_yellow"
                            *ngIf=" ConvertStringToNumber(element[4]) >= ConvertStringToNumber(element[5]) && ConvertStringToNumber(element[4])<= ConvertStringToNumber(element[6])">
                            {{ element[4] | number:'0.1-2' }}
                        </div>
                    
                        <div class="yz_red" *ngIf=" ConvertStringToNumber(element[4]) > ConvertStringToNumber(element[6]) ">
                            {{ element[4] | number:'0.1-2' }}
                        </div>
                    </td>
                    
                   

                    <td class="tbody__td--limit">{{ element[6] }}</td>
                    <td class="tbody__td--trigger">
                        <tr class="tbody__td__tr yz_green">
                            <td class="tbody__td--compareValues">
                                < {{ ConvertStringToNumber(element[5]) }} </td>

                        </tr>
                        <tr class="tbody__td__tr yz_yellow">
                            <td class="tbody__td--compareValues">
                                {{ ConvertStringToNumber(element[5]) }} - {{ ConvertStringToNumber(element[6]) }}
                            </td>
                        </tr>
                        <tr class="tbody__td__tr yz_red">
                            <td class="tbody__td--compareValues">
                                > {{ ConvertStringToNumber(element[6]) }}
                            </td>
                        </tr>
                    </td>

                <td class="tbody__td--trigger">
                    <tr class="tbody__td__tr yz_green">
                        <td class="tbody__td--colors yz_bgGreen"></td>
                    </tr>
                    <tr class="tbody__td__tr yz_yellow">
                        <td class="tbody__td--colors yz_bgYellow"></td>
                    </tr>
                    <tr class="tbody__td__tr yz_red">
                        <td class="tbody__td--colors yz_bgRed"></td>
                    </tr>
                </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <app-commentaire-editor></app-commentaire-editor>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</div>