<div class="main-content">
  <div class="container-fluid">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Création de la limite</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <form [formGroup]="AddLimitForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="dateDecision"> Date de décision </label>

              <mat-form-field appearance="fill">
                <input
                  matInput
                  formControlName="dateDecision"
                  name="dateDecision"
                  ngModel
                  dateDecision
                  [matDatepicker]="picker"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <p
                class="text-danger"
                *ngIf="
                  (AddLimitForm.controls.dateDecision.touched || submitted) &&
                  AddLimitForm.controls.dateDecision.errors?.required
                "
              >
                Champs obligatoire
              </p>
            </div>

            <ng-container
              *ngIf="beneficiaires$ | async as result"
              [ngSwitch]="result.dataState"
            >
              <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                <div class="form-group">
                  <label for="beneficiaire"> Bénéficiaire </label>
                  <mat-form-field appearance="fill">
                    <select
                      matNativeControl
                      (change)="selectBeneficiaire($event)"
                      formControlName="beneficiaire"
                    >
                      <option value=""></option>
                      <option
                        *ngFor="let b of result.data"
                        [value]="b.code"
                        [selected]="b"
                      >
                        {{ b.description }}
                      </option>
                    </select>
                  </mat-form-field>
                  <p
                    class="text-danger"
                    *ngIf="
                      (AddLimitForm.controls.beneficiaire.touched ||
                        submitted) &&
                      AddLimitForm.controls.beneficiaire.errors?.required
                    "
                  >
                    Champs obligatoire
                  </p>
                </div>
              </ng-container>
            </ng-container>

            <ng-container
              *ngIf="typePlacement$ | async as result1"
              [ngSwitch]="result1.dataState"
            >
              <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                <div class="form-group">
                  <label for="type"> Type placement </label>
                  <mat-form-field appearance="fill">
                    <select
                      matNativeControl
                      (change)="selectTypePlacement($event)"
                      formControlName="type"
                    >
                      <option value=""></option>
                      <option
                        *ngFor="let t of result1.data"
                        [value]="t.code"
                        [selected]="t"
                      >
                        {{ t.description }}
                      </option>
                    </select>
                  </mat-form-field>
                  <p
                    class="text-danger"
                    *ngIf="
                      (AddLimitForm.controls.type.touched || submitted) &&
                      AddLimitForm.controls.type.errors?.required
                    "
                  >
                    Champs obligatoire
                  </p>
                </div>
              </ng-container>
            </ng-container>

            <div class="form-group">
              <label for="dateEcheance"> Date d'échéance </label>
              <mat-form-field appearance="fill">
                <input
                  matInput
                  formControlName="dateEcheance"
                  name="dateEcheance"
                  ngModel
                  dateEcheance
                  [matDatepicker]="picker1"
                />
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <p
                class="text-danger"
                *ngIf="
                  (AddLimitForm.controls.dateEcheance.touched || submitted) &&
                  AddLimitForm.controls.dateEcheance.errors?.required
                "
              >
                Champs obligatoire
              </p>
            </div>

            <div class="form-group">
              <label for="montantLimite"> Montant </label>
              <input
                type="text"
                class="form-control"
                formControlName="montantLimite"
                name="montantLimite"
                ngModel
                numeric
              />
              <p
                class="text-danger"
                *ngIf="
                  (AddLimitForm.controls.montantLimite.touched || submitted) &&
                  AddLimitForm.controls.montantLimite.errors?.required
                "
              >
                Champs obligatoire
              </p>
            </div>

            <div class="form-group">
              <label for="durreMaximalePlacement"> durée </label>
              <input
                type="text"
                class="form-control"
                formControlName="durreMaximalePlacement"
                name="durreMaximalePlacement"
                ngModel
                numeric
              />
              <p
                class="text-danger"
                *ngIf="
                  (AddLimitForm.controls.durreMaximalePlacement.touched ||
                    submitted) &&
                  AddLimitForm.controls.durreMaximalePlacement.errors?.required
                "
              >
                Champs obligatoire
              </p>
            </div>

            <button
              class="btn btn-default align-content-center btn-sm"
              type="submit"
            >
              Sauvegarder
            </button>
          </form>
          <div
            *ngIf="errorMessage !== null"
            class="alert alert-danger mt-5 center"
            role="alert"
          >
            {{ errorMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
