<div class="card-header card-header-primary">
  <h4>{{variation}}</h4>
</div>

<mat-label>Secteur</mat-label>
<select   class="btn btn-primary simple" (change)="selectSecteurs($event)" [formControl]="secteur">
      <option *ngFor="let secteur of secteurs" [value]="secteur.value">{{secteur.viewValue}}</option>
</select>
     
             
<table class="center" >
       <thead>
          <th  colspan="3" >Données input</th>
         <th colspan="3" >Données output</th>
        </thead >
          <thead class="thead_2">
     
          <th *ngFor="let elm of header" >{{elm}}</th>
        
        </thead >
             <tbody >
                
                  <tr *ngIf="scenario===1 || scenario===2 || scenario===3">
                    <td  class="tbody__td">FPR</td>
                    <td  class="tbody__td">Fonds propres réglementaires </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="fpr"/></td>
                    <td class="tbody__td" >TDS</td>
                    <td class="tbody__td" >Taux de Solvabilité </td>
                    <td class="tbody__td" >{{ ((fpr / trp)*100) | number:'4.1-2'}}%</td>
                  </tr>

                
                  <tr *ngIf="scenario===1 || scenario===2 || scenario===3">
                    <td  class="tbody__td">RNT</td>
                    <td  class="tbody__td">Résultat </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="rnt"/></td>
                    <td class="tbody__td" [ngClass]="(rnt - (pra * nb)) > 0 ? 'color_green': 'color_red'">PRAS1</td>
                    <td class="tbody__td" [ngClass]="(rnt - (pra * nb)) > 0 ? 'color_green': 'color_red'">Perte après stress </td>
                    <td class="tbody__td" [ngClass]="(rnt - (pra * nb)) > 0 ? 'color_green': 'color_red'">{{ (pra * nb) | number:'4.1-3'}}</td>
                  
                  </tr>

                  <tr *ngIf="scenario===3">
                    <td  class="tbody__td">TRC</td>
                    <td  class="tbody__td">Total des risques crédit   </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="trc"/></td>
                    <td class="tbody__td" >FPA</td>
                    <td class="tbody__td">Fonds propres réglementaires après stress</td>
                    <td class="tbody__td">{{ (fpr - (pra * nb) ) | number:'4.1-3'}}</td>
                   
                  </tr>
                  <!-- <td class="tbody__td" >RPAS1</td>
                  <td class="tbody__td">Fonds propres réglementaires après stress</td>
                  <td class="tbody__td">{{ (trp -pra ) | number:'4.1-2'}}</td> -->

                  <tr *ngIf="scenario===3">
                    <td  class="tbody__td">TRO</td>
                    <td  class="tbody__td">Total des risques opérationnel  </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="tro"/></td>
                    <td class="tbody__td" >PRAS2</td>
                    <td class="tbody__td">Risques pondérés après stress</td>
                    <td class="tbody__td">{{ (trp - (pra * nb)) | number:'4.1-3' }}</td>
                   
                  </tr>

                  <tr *ngIf="scenario===3">
                    <td  class="tbody__td">TRM</td>
                    <td  class="tbody__td">Total des risques marché </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="trm"/></td>            

                     <td class="tbody__td" [ngClass]="{'color_green': ((fpr / trp)*100) > 12.5, 'color_orange': ( ((fpr / trp)*100) < 12.5 && ((fpr / trp)*100) > 9.5 ) , 'color_red': ( ((fpr / trp)*100) < 9.5 )}">TSAS</td>
                    <td class="tbody__td" [ngClass]="{'color_green': ((fpr / trp)*100) > 12.5, 'color_orange': ( ((fpr / trp)*100) < 12.5 && ((fpr / trp)*100) > 9.5 ) , 'color_red': ( ((fpr / trp)*100) < 9.5 )}">Taus de solvabilité après stress</td>
                    <td class="tbody__td" [ngClass]="{'color_green': ((fpr / trp)*100) > 12.5, 'color_orange': ( ((fpr / trp)*100) < 12.5 && ((fpr / trp)*100) > 9.5 ) , 'color_red': ( ((fpr / trp)*100) < 9.5 )}">{{ (((fpr - pra ) / (trp - pra))*100) | number:'4.1-2'}}% </td>
                  </tr>

                  <tr *ngIf="scenario===1 || scenario===2 || scenario===3">
                    <td  class="tbody__td">TRP</td>
                    <td  class="tbody__td">Total des risques pondérés  </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="trp"/></td>
                    <td class="tbody__td" >RTAS1</td>
                    <td class="tbody__td">Résultat aprés stress</td>
                    <td class="tbody__td">{{ (rnt - (pra * nb)) | number:'4.1-3'}}</td>
                  </tr>  
                  
                  <tr *ngIf="scenario===3">
                    <td  class="tbody__td">NB</td>
                    <td  class="tbody__td">Nombre de clients </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="nb"/></td>
                    <td class="tbody__td" >XMP</td>
                    <td class="tbody__td">Montant total des provisions de {{nb}} premiers clients </td>
                    <td class="tbody__td">{{ (pra * nb) | number:'4.1-3'}}</td>
                  </tr>
                 
                  <tr *ngIf="scenario===1 || scenario===2 || scenario===3">
                    <td  class="tbody__td">TP</td>
                    <td  class="tbody__td">Taux de provisionnement </td>
                    <td  class="tbody__td"><input type="number" id="formControlLg" [(ngModel)]="tp"/></td>
                    <td class="tbody__td" ></td>
                    <td class="tbody__td"></td>
                    <td class="tbody__td"></td> 
                  </tr>                 
                 
             </tbody>

          </table>
          <div class="justified">
       
            <textarea >Commentaire Analyste : </textarea>
        </div>




