<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="/Admin">
                     mon espace
                    </a>
                </li>
                <li>
                    <a>
                     about
                    </a>
                </li>
                <li>
                    <a>
                     contact us
                    </a>
                </li>
               
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="" target="_blank">Gestion des risques</a> for a better app
        </div>
    </div>
</footer>
