.body{
  margin: 0;
}
.progress5 {
  cursor: progress;
}
table th{
  width: 110px;
  text-align: center;
  
  }
  table td{
    font-size: 12px;
    text-align: right;
  }
 .classmultisele{
  width: 100px;
 justify-content: space-between;
 }

  .labelclass{
      text-align: left;
      font-size: 12px;
     
     }
  .periodeclass{
    font-size: 12px;
  }
  .myclass{
      
    margin: -6px;  
      padding-left: 10px;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
  }
  .myclass div{
    width: 90px;



  }
  tbody > tr > th,
    tbody > tr > td {
      padding: 0 !important;
      padding: 0 !important;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-top: 1px solid #000;
    }


  /* table dates column separator */

  th.date > tr:has(:nth-child(2)) > th {
    border-right: 1px solid #8cc8f9;
  }

  th.date > tr:has(:nth-child(2)) > th:last-child {
    border-right: none;
  }


   
  th.date * {
    white-space: nowrap;
  }

/* table td dates column separator */
  td.date > tr:has(:nth-child(2)) > td {
    border-right: 1px solid #8cc8f9;
  }

  td.date > tr:has(:nth-child(2)) > td:last-child {
    border-right: none;
  }

  td.date * {
    white-space: nowrap;
  }

.mat-form-field {
  width: 240px;
  box-shadow: 0 2px 2px 0 rgb(0 188 212 / 14%), 0 3px 1px -2px rgb(0 188 212 / 20%), 0 1px 5px 0 rgb(0 188 212 / 12%);

}
.dropselect{
  width: 50%;
  display: flex;
  
  gap: 10px;
}

thead th {
  vertical-align: center;
}

tbody tr th:first-child {
  text-align: left;
  padding: 12px!important;
}


th{
  padding:10px;
  
}
.head th{
  font-size: 11px;
  border: 1px solid rgb(83, 82, 82);
}
.table th, .table td {
  vertical-align: middle!important;
      padding: 3px;
      border: 1px solid rgb(83, 82, 82);
}
.table > tr:not(.head) th:first-child {
  text-align: left;
  font-size: 11px!important;
}

table {
  border-collapse: collapse;
  overflow-x: scroll;
  border: 1px solid rgb(155, 154, 154);
  background-color: white;
}

table thead th,
table tbody td {
  border-collapse: collapse;
}

table thead th,
.tbody__td--label,
.tbody__td,
.tbody__td--limit,
.tbody__td--commentaire,
.tbody__td--trigger {
  border: 1px solid rgb(83, 82, 82);

}

thead {
  background-color: lightgray
}

thead th {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 11px;
  text-align: center;
}

.theed__th--indicateur {
  font-size: 15px;
  text-align: center;
}

.tbody__td {
  font-size: 12px;
}

.tbody__td--label {
  font-size: 10px;
  padding-left: 2px;
  padding-right: 2px;
  height: 25px;
  overflow-y: hidden;
  line-height: 18px;
  min-width: 200px;
  max-height: 50px;
}

.tbody__td__tr {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(165, 165, 165);
  font-weight: 600;
  font-size: 10px;
}





.tbody__td--colors {
  width: 50px;
  height: 15px;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.theed__th--indicateur {
  font-size: 15px;
  text-align: center;
}
