<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button
        class="btn btn-success pull-right"
        (click)="portefeuilDirectTable()"
      >
        Tableau
      </button>
    </div>
  </div>
  <div class="row">
    <div class="portefeuilDirect">
      <div class="portefeuilDirect_row">
        <!-- les engagement indirects (Hors bilan) en milliard de DZD -->
        <app-evolution-direct></app-evolution-direct>
        <app-credit-net></app-credit-net>
      </div>
      <div class="portefeuilDirect_row">
        <app-par-type-engagement></app-par-type-engagement>
        <div class="portefeuilDirect_row_comment">
          <div class="portefeuilDirect_row_comment_title">
            Commentaire Analyste
          </div>
          <mat-form-field class="portefeuilDirect_row_comment_content">
            <textarea
              class="comment_area"
              matInput
              rows="7"
              placeholder="Saisissez un commentaire ..."
            ></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
