<div>
  <form class="my-rapport-form">
    <div class="my-form-row">
      <div class="my-form-column">
        <label for="nom" class="my-form-label">Code </label>
        <input type="text" name="code" class="my-rapport-form-input-list" />
      </div>
      <div class="my-form-column">
        <label for="type" class="my-form-label">Clause </label>
        <div>Cliquer pour choisir une clause</div>
      </div>
      <div>
        <label for="code" class="my-form-label">Description</label>
        <textarea rows="4"> </textarea>
      </div>

      <div class="form-keyValueOperation">
        <input type="text" name="key" class="keyValueOperation-input" />
        <input type="text" name="value" class="keyValueOperation-input" />
        <input type="text" name="operation" class="keyValueOperation-input" />
      </div>
    </div>
    <div class="my-form-submit-button">Ajouter</div>
  </form>
</div>
