<div class="my-dialog-container">
  <mat-icon class="x-dialog" (click)="closeDialog()">cancel</mat-icon>
  <form
    *ngIf="isRequest; else arithmeticOperation"
    class="my-form"
    [formGroup]="formGroup"
  >
    <div class="my-form-row">
      <div class="my-form-column">
        <label for="code" class="my-form-label">Code</label>
        <input
          placeholder="Code"
          type="text"
          name="code"
          class="my-rapport-form-input-list"
          formControlName="code"
        />
      </div>
      <div class="my-form-column">
        <label for="type" class="my-form-label">Clause </label>
        <div (click)="openClauseDialog()" class="clause-click-div">
          Cliquer pour choisir une clause ({{ choosedClauses.length }})
        </div>
      </div>
    </div>

    <app-key-value-operand
      style="width: 100%"
      *ngFor="let item of kVooList"
      [kVOO]="item"
    ></app-key-value-operand>
    <div class="my-form-row">
      <div class="my-form-column">
        <label for="description" class="my-form-label">Description</label>
        <textarea
          rows="3"
          class="my-rapport-form-textarea"
          type="text"
          placeholder="Description"
          name="description"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <button
      class="my-add-button"
      type="submit"
      [mat-dialog-close]="{
        id: 0,
        code: code.value.trim(),
        description: description.value,
        clauses: choosedClauses,
        kvoo_s: kVooList,
        type: data.key
      }"
      [disabled]="isButtonDisabled()"
      (click)="onSubmit()"
    >
      Ajouter
    </button>
  </form>
  <!-- Arithmetic Operations -->
  <ng-template #arithmeticOperation>
    <form [formGroup]="formGroup2">
      <div class="arethmetic-operation-container">
        <select class="select-code" name="" id="" formControlName="code">
          <option
            class="my-option"
            *ngFor="let item of codesToDisplay"
            value="{{ item }}"
          >
            {{ item }}
          </option>
        </select>
        <select
          formControlName="operation"
          class="select-operation"
          name=""
          id=""
        >
          <option *ngFor="let item of operationsToDisplay" value="{{ item }}">
            {{ item }}
          </option>
        </select>
        <select formControlName="code2" class="select-code" name="" id="">
          <option *ngFor="let item of codesToDisplay" value="{{ item }}">
            {{ item }}
          </option>
        </select>
      </div>

      <div>
        <button (click)="addArithmetic()">ajouter</button>
      </div>
    </form>
  </ng-template>
</div>
