<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
              <div class="card-header card-header-warning  text-center" style="width:80px ;">
                  <i class="material-icons">tasks</i> 
              </div>
                <div class="card-body">
                    <h4 class="card-title">Mes taches</h4>
                    
                    
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">tasks</i> updated 4 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-primary text-center" style="width:80px ;">
                  <i class="material-icons">notifications</i>
                </div>
           
                  <div class="card-body">
                      <h4 class="card-title">Mes notifications</h4>
                      <ul class="my-list">
                        <li *ngFor="let alerte of alerteMessages">
                           
                        <label   class="btn btn-sm btn-warning"> 
                                <span >{{alerte}}</span> 
                        </label>
                        </li>
                      </ul>
                  </div>
          
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">notifications</i> vous avez {{ alerteMessages.length}} notifications
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>
</div>
