<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center pt-5" >
            <div class="col-md-6 align-content-center ">
                <div class="card bg-light shadow-lg bg-body rounded">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">réinitialiser votre mot de passe</h4>
                    </div>
                    <div class="card-body bg-light"   >
                    
                        <div class="container">
                            <div class="row">
                         
                                
                                <div class="w-100 center card " >
                                    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
                                          <div class="form-group">
                                        <label for="name"> Email </label>
                                        <div class="input-group">
                                        <input
                                          type="text"
                                          placeholder="user@email.com"
                                          class="form-control"
                                          formControlName="email"
                                          name="email"
                                          ngModel email
                                           required
                                          
                                          /><i class="material-icons mt-2 ">email</i>
                                        </div>
                                        <mat-error *ngIf="submitted && hasError('email', 'required')">email is required</mat-error>
                                        <mat-error *ngIf="submitted && hasError('email', 'email')">email Invalid </mat-error>
                                   
                                      </div>
                              
                              
                                      <button  type="submit" class="btn btn-success" >
                                        vérifier
                                      </button>
                                    </form>
                                  </div>
                                  <a class=" text-info text-decoration-underline"  routerLink="/">Se connecter ?</a>
                                </div>
        
                            </div>
                        </div> 


                     

                 
                    </div>
                </div>
            </div>

          