<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <td>Nom du groupe /Nom de la relation</td>
              <td>Solde Bilan</td>
              <td>Solde HB</td>
              <td>Somme Bilan et HB</td>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>10</td>
              <td>20</td>
              <td>30</td>
              <td>40</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>20000</td>
              <td>30000</td>
              <td>40000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
