<!-- <table>
  <thead>
    <th class="theed__th--indicateur">Indice</th>
    <th *ngFor="let item of header">{{ item }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of selectedData | keyvalue">
      <td class="tbody__td--label">{{ item.key }}</td>
      <td class="tbody__td" *ngFor="let value of item | keyvalue">
        <tr class="tbody__td__tr yz_green">
          {{
            item.value < min ? value.toString() + unit : ""
          }}
        </tr>
        <tr class="tbody__td__tr yz_yellow">
          {{
            value >= min && value <= element.limit
              ? value.toString() + unit
              : ""
          }}
        </tr>
        <tr class="tbody__td__tr yz_red">
          {{
            value > element.limit ? value.toString() + element.unit : ""
          }}
        </tr>
      </td>
      <td class="tbody__td--limit">{{ element.limit }}</td>
      <td class="tbody__td--trigger">
        <tr class="tbody__td__tr yz_green">
          <td class="tbody__td--compareValues">
            < {{ element.min + element.unit }}
          </td>
          <td class="tbody__td--colors yz_bgGreen"></td>
        </tr>
        <tr class="tbody__td__tr yz_yellow">
          <td class="tbody__td--compareValues">
            {{ element.limit + element.unit }} -
            {{ element.min + element.unit }}
          </td>
          <td class="tbody__td--colors yz_bgYellow"></td>
        </tr>
        <tr class="tbody__td__tr yz_red">
          <td class="tbody__td--compareValues">
            > {{ element.limit + element.unit }}
          </td>
          <td class="tbody__td--colors yz_bgRed"></td>
        </tr>
      </td>
      <td class="tbody__td--commentaire">
        {{ element.commentaire }}
      </td>
    </tr>
  </tbody>
  <tfoot></tfoot>
</table> -->
