<table *ngFor="let d of data">
  <thead>
    <th *ngFor="let item of header">{{ item }}</th>
  </thead>
  <tbody>
    <tr>
      <td class="tbody__td--label">{{ d.Indice }}</td>
      <td class="tbody__td" *ngFor="let v of d.values; let i = index">
        <!-- <h1>{{ v[dates[i]] }}</h1> -->
        <tr class="tbody__td__tr yz_green">
          {{
            v[dates[i]] < d.min ? v[dates[i]].toString() + d.unit : ""
          }}
        </tr>
        <tr class="tbody__td__tr yz_yellow">
          {{
            v[dates[i]] >= d.min && v[dates[i]] <= d.limit
              ? v[dates[i]].toString() + d.unit
              : ""
          }}
        </tr>
        <tr class="tbody__td__tr yz_red">
          {{
            v[dates[i]] > d.limit ? v[dates[i]].toString() + d.unit : ""
          }}
        </tr>
      </td>
      <td class="tbody__td--limit">{{ d.limit }}</td>
      <td class="tbody__td--trigger">
        <tr class="tbody__td__tr yz_green">
          <td class="tbody__td--compareValues">< {{ d.min }}</td>
        </tr>
        <tr class="tbody__td__tr yz_yellow">
          <td class="tbody__td--compareValues">
            {{ d.limit }} -
            {{ d.min }}
          </td>
        </tr>
        <tr class="tbody__td__tr yz_red">
          <td class="tbody__td--compareValues">> {{ d.limit }}</td>
        </tr>
      </td>

      <td class="tbody__td--trigger">
        <tr class="tbody__td__tr yz_green">
          <td class="tbody__td--colors yz_bgGreen"></td>
        </tr>
        <tr class="tbody__td__tr yz_yellow">
          <td class="tbody__td--colors yz_bgYellow"></td>
        </tr>
        <tr class="tbody__td__tr yz_red">
          <td class="tbody__td--colors yz_bgRed"></td>
        </tr>
      </td>

      <!-- <td class="tbody__td--commentaire">
        {{ d.commentaire }}
      </td> -->
    </tr>
  </tbody>
  <tfoot></tfoot>
</table>
